*{
    margin: 0;
    padding: 0;
}
.grid-container{
    background-color: brown;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    gap: 1rem;
    min-height: 500px;
    justify-content: space-around;
    background-image: url(../images/underwater-background.jpg);
}
.grid-item{
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 20px;
}
.item2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: -10PX;
    background-image: url(../images/underwater-background.jpg);
    color:whitesmoke;
}

.item3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(../images/underwater-background.jpg);
    color:whitesmoke;
    margin-top: -10px;
    margin-left: -10PX;
}
.item4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item5{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item6{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url(../images/underwater-background.jpg) ;
    color: antiquewhite;
}
