.a{
    display: flex;
    gap: 20px;
}
.a li{
    list-style-type: none;
}
.m{
    border: black;
    border-style: groove;
    margin-top: 10px;
    display: none;
}

.m li{
    margin-left: -20px;
}
ul li:hover > ul{
    display: block;
}